*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
    font-size: 15px;
}

header,
nav,
main,{
    width: 90%;
    margin: auto;
}

header{
    height: 40px;
    background-color: #00a664;
    text-align: center;
}

header h1{
    margin: 0px;
    padding-top: 10px;
    color: white;
    font-size: 21px;
    font-weight: bold;
}

nav{
    height: 28px;
    background-color: #828785;
    text-align: center;
    padding-top: 8px;
}

nav a{
    text-decoration: none;
    margin: 22px;
    font-size: 15px;
    color: #111;
}

nav a :hover {
    text-decoration: underline;
}

main{
    padding: 10px;
}

section{
    margin-bottom: 10px;
}

h2{
    font-size: 13px;
    margin:  0 0 4px 0;

}

h3{
    font-size: 10px;
    margin: 5px 0 4px 0;
}

.profile{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid #555;
    margin-right: 7px;
}

.profile-info p {
    font-size: 8px;
    line-height: 1.2px;
    margin-bottom: 6px;
}

.profile-info strong{
    font-weight: bold;
}

.life section{
    display: flex;
    gap: 15px;
    border-bottom: 1px solid #777;
    padding-bottom: 6px;

}

.life-column{
    width: 50%;
    font-size: 14px;
}
.life-column p{
    text-align: justify;
}
.life-column h3{
    font-size: 15px;
}